@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: Open Sans;
}

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav{
    height: 138px;
    background-color: #1B2047;
}


nav img{
    width:90px;
    position: absolute;
    left:10%;
    top:6%;
}

nav ul{
    float:right;
    margin-right:55px;
}

nav ul li{
    display:inline-block;
    line-height:150px;
    margin:0 15px;
}

nav ul li a{
    position: relative;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding:4px 0;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left:0;
    bottom: -7px;
    height:2px;
    width:100%;
    background-color: #EE2558;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .1s linear ;
}

nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float:right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width:1360px){
    nav img{
        left: 5%;
    }
}

@media (max-width:1100px){

    nav img{
        width:110px;
    }
}

@media (max-width:980px){

    label #btn{
        display:block;
    }

    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background-color: #1B2047;
        top: 133px;
        text-align: center;
        left:-100%;
        transition: all.8s; 
    }

    nav ul li{
        display: block;
        margin:50px;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 45px;
    
}

#check:checked ~ ul{
    left:0;
}

#check:checked ~ label #btn{
    display: none;
}

#check:checked ~ label #cancel{
    display: block;
}

}

@media (max-width:800px){

    nav img{
        width:90px;
        left:9%;
        top:4%;
    }
    
    nav ul li{
        display: block;
        margin:30px;
        line-height: 15px;
    }

    nav ul li a{
        font-size: 22px;
    
     }
}

.about-page{
    background: #1B2047;
    width:100%;
    height:450px;
}

.about{
    width:100%;
    background-color:#1B2047;
    padding: 30px 90px;
    padding-left: 300px;
}

.about h1{
    font-size: 70px;
    color: white;
}

.about h2{
        color: rgb(202, 194, 194);
        font-weight: 500;
}

.about-img img{
    width:1200px;
    height:500px;
    padding-left: 150px;
    padding:auto;
}

.features{
    width:50%;
    /* border: 2px solid blueviolet; */
    width: 100%;
    margin-top: 300px;
}

.feature-1 {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(243, 134, 44);
    margin: 30px 250px 10px 250px;
    padding: 50px;
    position: relative;
}

.feature-1 h1{
    color: black;
    padding-left: 20px;
}

.feature-1 h3{
    color: rgb(54, 54, 54);
    font-size: 13px;
    font-weight: 550;
    padding-left: 20px;
    
}

.feature-1 .video-button{
    font-size: 75px;
    outline: 10px solid white;
    box-shadow: 15px 15px 15px  rgb(50, 51, 50);
    border-radius: 100px;
    padding-left:20px;
    position: absolute;
    left:-8%;
    bottom:25%;
    width:114px;
    height:110px;
    background-color: rgb(243, 134, 44);
    color: white;
    
}

.feature-1 .video-button img{
    width:99px;
    padding-right: 20px;
    padding-top: 15px;

}

.feature-2 {
    background-color: rgb(255, 255, 255);
    border: 2px solid  #EE2558;
    margin: 30px 250px 10px 250px;
    padding: 50px;
    position: relative;
}

.feature-2 h1{
    color: black;
    padding-left: 20px;
}

.feature-2 h3{
    color: rgb(54, 54, 54);
    font-size: 13px;
    font-weight: 550;
    padding-left: 20px;
    
}

.feature-2 .search-btn{
    font-size: 75px;
    outline: 10px solid white;
    box-shadow: 15px 15px 15px  rgb(50, 51, 50);
    border-radius: 100px;
    padding-left:20px;
    position: absolute;
    right:-6%;
    bottom:25%;
    width:120px;
    height:120px;
    background-color: #EE2558;
    color: white;
    
}

.feature-2 .search-btn img{
    width:99px;
    padding-right: 10px;
    padding-top: 10px;

}

.feature-3 {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(58, 58, 209);
    margin: 30px 250px 10px 250px;
    padding: 50px;
    position: relative;
}

.feature-3 h1{
    color: black;
    padding-left: 20px;
}

.feature-3 h3{
    color: rgb(54, 54, 54);
    font-size: 13px;
    font-weight: 550;
    padding-left: 20px;
    
}

.feature-3 .user-interface{
    font-size: 75px;
    outline: 10px solid white;
    box-shadow: 15px 15px 15px  rgb(50, 51, 50);
    border-radius: 100px;
    padding-left:20px;
    position: absolute;
    left:-8%;
    bottom:25%;
    width:114px;
    height:110px;
    background-color: rgb(86, 86, 196);
    color: white;
    
}

.feature-3 .user-interface img{
    width:85px;
    padding-top: 10px;
}

.feature-4 {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(26, 151, 173);
    margin: 30px 250px 10px 250px;
    padding: 50px;
    position: relative;
}

.feature-4 h1{
    color: black;
    padding-left: 20px;
}

.feature-4 h3{
    color: rgb(54, 54, 54);
    font-size: 13px;
    font-weight: 550;
    padding-left: 20px;
    
}

.feature-4 .content-catalog{
    font-size: 75px;
    outline: 10px solid white;
    box-shadow: 15px 15px 15px  rgb(50, 51, 50);
    border-radius: 100px;
    padding-left:20px;
    position: absolute;
    right:-8%;
    bottom:25%;
    width:114px;
    height:110px;
    background-color:rgb(26, 151, 173);
    color: white;
    
}

.feature-4 .content-catalog img{
    width: 90px;
    padding-right: 5px;
    padding-top: 10px;
}

.feature-5 {
    background-color: rgb(255, 255, 255);
    border: 2px solid rgb(243, 134, 44);
    margin: 30px 250px 10px 250px;
    padding: 50px;
    position: relative;
}

.feature-5 h1{
    color: black;
    padding-left: 20px;
}

.feature-5 h3{
    color: rgb(54, 54, 54);
    font-size: 13px;
    font-weight: 550;
    padding-left: 20px;
    
}

.feature-5 .originals{
    font-size: 75px;
    outline: 10px solid white;
    box-shadow: 15px 15px 15px  rgb(50, 51, 50);
    border-radius: 100px;
    padding-left:20px;
    position: absolute;
    left:-8%;
    bottom:25%;
    width:114px;
    height:110px;
    background-color: rgb(243, 134, 44);
    color: white;
    
}

.feature-5 .originals img{
    width: 90px;
    padding-right: 10px;
    padding-top: 10px;
}

.disney{
    width:850px;
    height:200px;
    background-color: rgb(230, 224, 224);
    color: white;
    margin:50px auto;
    padding:30px;
}

.disney h1{
    color:  #EE2558;
    font-size: 27px;
    font-weight: 400;
}

.disney h3{
    padding-top: 5px;
    color: black;
    font-size: 15px;
    font-weight: 550;
}

.img-box{
    background: #1B2047;
    width:100%;
    height:380px;

}
.people{
    display: flex;
    justify-content: center;
    column-gap: 30px;
}

.people img{
    width:600px;
    height:540px;
    padding-left: 2px;
    padding-top: 160px;
    
}

.content{
    width: 420px;
    padding-top: 180px;
}

.content h1{
    font-weight: 600;
    color: white;
}
.platform{
    color: #EE2558;
}

.sub-content h3{
    padding-bottom: 20px;
    padding-top:90px;
    font-size: 13px;
    font-weight: 400;
    color: rgb(100, 100, 100);
}

.mission{
    
    display: flex;
    flex-wrap: wrap;
    column-gap: 60px;
    /* justify-content: center; */
    /* padding: 90px; */
    padding-top: 120px;
    /* padding-left: 80px; */
    width:100%;
}

.mission img{
       width:680px;
       height:350px;
       padding-left: 150px;
}

.mission-content{
        width: 380px;
        padding-top: 20px;
        /* padding: 30px; */
}

.mission-content h1{
    color:#EE2558;
    font-size: 60px;
    font-weight: 600;
}

.mission-content h4{
    color: rgb(26, 25, 25);
    font-weight: 500;
    font-size: 15px;
    line-height: 23px;
    word-spacing: 3px;
    
}

.values{
    
    display: flex;
    column-gap: 60px;
    /* justify-content: space-around; */
    /* padding: 70px; */
    /* padding-top: 0px; */
    padding-left: 160px;
    width:100%;
}

.values img{
    width:550px;
    height:350px;
   padding-left: 35px;
}

.value-content{
    width: 425px;
    padding-top: 20px;
    padding-left: 25px;
}

.value-content h1{
color:#EE2558;
font-size: 60px;
font-weight: 600;
}

.circle-1, .circle-2, .circle-3, .circle-4,
.circle-5, .circle-6, .circle-7,
.circle-8, .circle-9 {
display: flex;

}

.circle-2 i, .circle-6 i {
    color: #EE2558;
}

.circle-1 i, .circle-5 i, .circle-9 i{
    color: rgb(255, 115, 0);
}

.circle-3 i, .circle-7 i{
    color:rgb(86, 86, 196) ;
}

.circle-4 i, .circle-8 i{
    color:rgb(26, 151, 173);
}

 i{
    
    font-size: 7px;
    padding: 7px; 
}


.values-img{
    width:850px;
    height:350px;
}

.value-content h4{
    color: rgb(26, 25, 25);
    font-weight: 480;
    font-size: 15px;
    line-height: 23px;
    word-spacing: 3px;
    line-height: 25px;
    
}