@import url('https://fonts.googleapis.com/css2?family=Inter&display=swap');

body{
    font-family: Open Sans;
}

*{
    margin:0;
    padding:0;
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
}

nav{
    height: 138px;
    background-color: #1B2047;
}


nav img{
    width:90px;
    position: absolute;
    left:10%;
    top:6%;
}

nav ul{
    float:right;
    margin-right:55px;
}

nav ul li{
    display:inline-block;
    line-height:150px;
    margin:0 15px;
}

nav ul li a{
    position: relative;
    color: white;
    font-size: 13px;
    font-weight: 600;
    padding:4px 0;
}

nav ul li a:before{
    position: absolute;
    content: '';
    left:0;
    bottom: -7px;
    height:2px;
    width:100%;
    background-color: #EE2558;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .1s linear ;
}

nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}

label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float:right;
    line-height: 90px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}

#check{
    display: none;
}

@media (max-width:1360px){
    nav img{
        left: 5%;
    }
}

@media (max-width:1100px){

    nav img{
        width:110px;
    }
}

@media (max-width:980px){

    label #btn{
        display:block;
    }

    ul{
        position:fixed;
        width:100%;
        height:100vh;
        background-color: #1B2047;
        top: 133px;
        text-align: center;
        left:-100%;
        transition: all.8s; 
    }

    nav ul li{
        display: block;
        margin:50px;
        line-height: 30px;
    }

    nav ul li a{
        font-size: 45px;
    
}

#check:checked ~ ul{
    left:0;
}

#check:checked ~ label #btn{
    display: none;
}

#check:checked ~ label #cancel{
    display: block;
}

}

@media (max-width:800px){

    nav img{
        width:90px;
        left:9%;
        top:4%;
    }
    
    nav ul li{
        display: block;
        margin:30px;
        line-height: 15px;
    }

    nav ul li a{
        font-size: 22px;
    
     }
}

.job-page{
    background: #1B2047;
    width:100%;
    height:450px;
}

.job{
    width:100%;
    background-color:#1B2047;
    padding: 30px 90px;
    padding-left: 300px;
}

.job h1{
    font-size: 75px;
    color: white;
}

.job-img img{
    width:1200px;
    height:450px;
    padding-left: 150px;
    padding:auto;
}


.container{
    display: flex;
    margin-left: 18%;
}

.dropdown{
    min-width: 12.3em;
    position: relative;
    /* margin:1.1em; */
    font-size: 18px;
    font-family: inter;
    /* margin-left:17%; */
    margin-top:18%;
    padding: 20px;
    }
    
     .dropdown *{
    
    box-sizing: border-box;
    }
    
     .select{
    /* background:burlywood; */
    border:1px solid #EE2558;
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-radius:0.3em;
    padding:4px;
    cursor: pointer;
    }
    
    .select:hover{
        border:1px solid blue;
    }
    .selected{
    font-size: 17px;
    }  
    
    /* clicked styles */
     .select-clicked{
    border:1px solid blue;
    /* border-bottom: none; */
    
    }
    
    .caret{
    width:0;
    height:0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;
    border-top: 6px solid black;
    }  
    
    /* rotate styles */
    
    .caret-rotate{
    transform: rotate(180deg);
    }
    
    .menu{
    list-style: none;
    background-color: white;
    /* padding:0.1em 1em; */
    border:1px solid #222226;
    /* border: 1px solid whitesmoke; */
    /* border-top: none; */
    /* border-radius: 5px; */
    color: black;
    position: absolute;
    top:2.9em;
    left:40%;
    width:100%;
    transform: translateX(-63px);
    opacity: 0;
    display: none;
    transition: 0.2s;
    z-index: 1;
    }
    
    .menu li{
    /* padding:0.6em 0.6em; */
    margin:0.3em 0;
    cursor: pointer;
    font-size: 15px;
    }
    
    .menu li:hover{
    background-color:rgb(6, 92, 190);
    }
    
    /* active styles */
    
    .active{
    background-color:rgb(6, 92, 190);
    }
    
    /* open styles */
    
    .menu-open{
    display:block;
    opacity:1;
    }

    .job-detail{
        padding: 20px;
        margin-left: 16%;
        margin-top: 1%;
        font-weight: 400;
    }

    .job-role{
        margin-top: 20px;
    }

    .job-role h1{
        font-size: 25px;
        color: #222226;
        font-weight: 600;
    }

    .line1{
        width:900px;
        height:2px;
        background-color: rgb(192, 188, 188);
        margin-top: 2%;
    }

    .line2{
        width:360px;
        height:2px;
        background-color: #EE2558;
    }

    .brand{
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
    }

    .brand h2{
        font-size: 18px;
         font-weight: 400;
         color: rgb(54, 54, 54);
    }

    .brand h6{
        margin-right: 17%;
        background-color: rgb(212, 204, 204);
        padding: 10px 20px;
        padding-top: 5px;
        padding-left: 12px;
        border-radius: 6px;
        width:96px;
        height:23px;

    }

    .roles h3{
        font-size: 18px;
        font-weight: 400;
        color: rgb(83, 78, 78);
        margin-top: 10px;
    }

    .details{
        display: flex;
        column-gap: 7px;
        margin-top: 15px;
        border-bottom: 1px dashed rgb(153, 153, 153);
        padding: 20px;
        width: 950px;
    }

    .details h2{
        border: 1px dashed rgb(0, 81, 255);
        color: rgb(0, 81, 255);
        font-size: 14px;
        padding: 5px;
        border-radius: 5px;
        width: 120px;
    }

    .details h3{
        background-color: #ce1141;
        color: white;
        font-size: 14px;
        padding-top: 5px;
        padding-left: 8px;
        border-radius: 5px;
        width:90px;
    }

    .details h4{
        color: #ce1141;
        border: 1px solid #ce1141;
        font-size: 14px;
        border-radius: 5px;
        padding:6px;
        padding-left: 8px;
        width:60px;
    }

    .role{
        display: flex;
        justify-content: space-between;
        margin-top: 13px;
        cursor: pointer;
    }

    .role h2{
        font-size: 18px;
         font-weight: 400;
         color: rgb(54, 54, 54);
    }

    .role h6{
        margin-right: 17%;
        background-color: rgb(212, 204, 204);
        padding: 10px 20px;
        padding-top: 5px;
        padding-left: 12px;
        border-radius: 6px;
        width:96px;
        height:23px;
    }

    .role h2 i{
        color: rgb(161, 161, 161);
    }

    .sales h6{
        width:105px;
    }


    /* .footer{
        background-color:#0a1038;
        padding: 30px 30px;
        
    
    }
    
    .about-footer{
        padding:20px 30px;
        
    }
    
    .row{
        display:flex;
        flex-wrap:wrap;
    }
    
    .footercol-1 ul{
        width: 500px;
         display: flex;
         justify-content: space-between;   
    }
    
    .footercol-1 .copyright h5{
        width:670px;
        color: white;
        font-size: 12px;
        font-weight: 400;
        padding-top: 10px;
    }
     .footercol-1 ul li a{ 
        list-style: none;
        color: white;
        padding-left: 0px;
        font-size: 14px;
        font-weight: 500;
       transition: .3s;
    }
    
    .footercol-1 ul li a:hover{
        color: #EE2558;
        
    }
    
    .footercol-1{
        
        padding:0 20px;
    }
    
    .footercol-1 h3{
      font-size: 13px;
      color: white;
    }
    
    .footercol-1 .social-links{
        padding-top: 10px;
    }
    
    .footercol-1 .social-links a{
        display:inline-block;
        height: 25px;
        width: 25px;
        border: 1px solid white;
        text-align: center;
        line-height: 30px;
        border-radius: 50px;
        color: #fff;
        font-size:12px;
        transition: .3s;
    }
    
    .social-links a:hover{
           color: #EE2558;
           background-color: white;
    }
    
    .footercol-1 h4{
        font-size: 18px;
        color: white;
    }
    
    .footercol-apps{
        display: flex;
        column-gap: 4px;
        padding-top: 10px;
    
    }
    
    .playstore{
        display: flex;
        border: 1px solid white;
        background-color: rgb(26, 25, 25);
        align-items: center;
        column-gap: 7px;
        height:38px;
        width:130px;
        padding-left: 10px;
        color: rgb(141, 140, 140);
        cursor: pointer;
    }
    .playstore i{
        font-size: 22px;
        color: white;
    }
    .playstore h6{
        font-size: 8px;
    }
    .playstore h3{
        color: gray;
    }
    
    .appstore h3{
        color:rgb(141, 140, 140) ;
    }
    
    .playstore:hover{
        background-color: rgb(59, 138, 228);
        transform: 1s;
        color: white;
    }
    
    
    .playstore h3:hover{
        color: white;
    }
    
    .appstore{
        display: flex;
        border: 1px solid white;
        background-color: rgb(26, 25, 25);
        align-items: center;
        column-gap: 7px;
        height:38px;
        width:130px;
        padding-left: 10px;
        color: rgb(141, 140, 140);
        cursor: pointer;
    }
    .appstore i{
        font-size: 24px;
        color: white;
    }
    .appstore h6{
        font-size: 8px;
    }
    .appstore h3{
        color:rgb(141, 140, 140) ;
    }
    
    .appstore:hover{
        background-color: rgb(59, 138, 228);
        transform: 1s;
        color: white;
    }
    
    .appstore h3:hover{
        color: white;
    } */