*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.main{
    width:100%;
    position: relative;
    background-color: aquamarine;
    display: flex;
}

.main-page{
    width: 94%;
    position: relative;
    display: flex;
    flex-direction: column;
    margin-left: 6%;
}

.navi{
    width: 6%;
    height: 100vh;
    background-color:#0F1014;
    padding: 20px 20px;
    display: flex;
    flex-direction: column;
    row-gap: 100px;
    position: fixed;
}

.logo{
    width: 100%;   
}


.navigation{
    width:100%;
    height:100px;
    position: absolute;
    align-self: center;
    top : 0px;
    height: 100%;
    display:flex;
    flex-direction: column;
    margin-top: 12vh;
    align-items: center;
   
}

.subscribe{
    margin-top: 0vh;
    margin-bottom: 9vh;
    color: #FFF;
    background-color: #27231E;
    align-self: center;
    display: flex;
    border-radius: 20px;
    padding: 5px 5px;
    font-size: 12px;
    width: 70px;
    column-gap: 2px;
    align-items: center;
    cursor: pointer;
    color: #C0A265;
    
}


.sub-btn{
    text-decoration: none;
    color:#C0A265 ;
}

.icons{
    list-style-type: none;
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    cursor: pointer;
}

.icon{
    padding:20px 3px;
    color: white;
    opacity: 0.7;
}
.icon:hover{
    opacity: 1;
    transition: 0.3s;
    transform: scale(1.1);
}

.banner{
    width: 100%;
    height: 90vh;
    background-color: rgb(150, 25, 25);
    display: flex;
    position: fixed;
    justify-content: flex-end;
    overflow: hidden;
}

.banner-overlay-1{
    width: 100%;
    height :100%;
    background:linear-gradient(to right,#0F1014 22%,transparent,transparent);
    position: absolute;
}

.banner-overlay-2{
    width: 100%;
    height :100%;
    background: linear-gradient(to top,#0F1014 10%,transparent,transparent); 
    position: absolute;
}

.banner-img{
    height:105%;
}

.main-area{
    width :100%;
    height : 300vh;
    /* background-color: cornflowerblue; */
    position: absolute;
    margin-top: 40vh;
}

.banner-detail{
    width :100%;
    height: 260px;
    /* background-color: rgb(116, 116, 8); */
    
}

.detail-space{
    width:35%;
    height: 100%;
    padding:5px;
    /* background-color: #3B3B38; */
    margin-bottom: 1px;
    
}

.movie-detail{
    color: #FFF;
    font-family: Inter;
    font-size: 18px ;
    font-style: normal;
    padding: 10px;
    font-weight: 600;
    line-height: normal;
    display: flex;
    column-gap: 5px;
}

.dot{
    width :5px;
    height: 5px;
    background-color: #FFF;
    display:block;
    margin-top: 13px;
    border-radius: 3px;
}

.age-limit{
    border:  1px solid #3B3B38;
    background-color: #3B3B38;
    border-radius: 5px;
    opacity: 0.7;
    font-size: 15px;
    align-self: center;
    padding:2px;
}

.movie-story{
    margin-top:3vh;
    color: #FFF;
    font-size: 15px;
    font-family: Inter;
    font-weight: 500;
}

.movie-genere{
    color: #FFF;
    margin-top: 4vh;
    font-family: Inter;
}

.watch{
    width:100%;
    margin-top: 3vh;
    /* background-color: black; */
    display: flex;
    column-gap: 12px;
}

.play-button{
     padding:14px 80px;
     background-color: #424041;
     border-radius: 5px;
     font-weight: bold;
     font-size:15px;
     border: none;
     opacity: .7;
     color: #FFF;
     cursor: pointer;
     transition: .3s;

}

.plus-button{
    padding:14px;
    background-color: #424041; 
    border-radius: 5px;
    font-weight: bold;
    font-size:16px;
    border: none;
    opacity: .7;
    color: #FFF;
    cursor: pointer;
    transition: .3s;
}

.button:hover{
    color: #FFF;
}

.play-button:hover{
     opacity: 1;
     transform: scale(1.01);
}

.plus-button:hover{
    opacity: 1;
}

.movie-sections{
    width:100%;
    padding:10px 0px 20px 10px;
    /* margin-top: 4px; */
    background-color: #0F1014;
    color: #FFF;  
}

.movie-sections-header{
    /* background-color: chocolate; */
    display: flex;
    justify-content: space-between;
}

.section-title{
    font-size: 20px;
    font-family: 'Inter', sans-serif;
    font-weight: bold;

}

.view-all{
    font-size: 15px;
    font-weight: 600;
    opacity: 0.7;
    cursor: pointer;

}

.view-all:hover{
    opacity: 1;
    transition: .2s;
}

.movies{
    width:100%;
    /* height:300px; */
    /* background-color: lighstgreen; */
    margin-top: 10px;
    position: relative;
    overflow-x:hidden;
}


.movies-list{
    width: fit-content;
    position: relative;
    /* background-color: darkorange; */
    display:flex;
    column-gap: 10px;
    transition: .8s;
    overflow-x: auto;
    overflow-y: visible;
    scroll-behavior: smooth;
    
 }
 
 .movies-list::-webkit-scrollbar{
    display:none;

 }


.card-container{
    height: 250px;
    width:190px;
    /* background-color: darkmagenta;  */
    border-radius: 10px; 
    overflow: hidden; 
    position: relative;
    transition: .5s;
}
.card-container img{
    width:100%;
    height:100%;
    object-fit: cover;  
}

.card-container:hover{
    transform: scale(1.02);
}

 .card-body{
    opacity:0;
    width:100%;
    height:100%;
    position: absolute;
    top:0;
    left:0;
    z-index: 2;
    background: linear-gradient(to bottom,rgba(4,8,15,0),#192133 90%);
    padding:10px;
    transition: 0.5s;
    cursor: pointer;
}

.card-body:hover{
    opacity: 1;
}

.name{
    color: #fff;
    font-size:12px;
    font-weight: 500;
    text-transform: capitalize;
    margin-top: 75%;
    font-family: inter;
}

.des{
    color: #FFF;
    opacity: 0.8;
    margin: 5px 0;
    font-weight: 500;
    font-size: 12px;
    font-family: inter;
}

.watchlist{
    display:flex;
    column-gap: 5px;
}


.watchlist .plus-button{
    height:35px;
    width :30px;
    margin-top: 5px;
    padding: 5px;
}

.watchlist-btn{
     position: relative;
     width:100%;
     text-transform: capitalize;
     background: none;
     border: none;
     font-weight: 500;
     text-align: center;
     color: rgb(255,255,255,0.5);
     background-color: #424041; 
     margin: 5px 0;
     cursor: pointer;
     padding: 10px 5px;
     border-radius: 5px;
    }

.watchlist-btn h5{
   
    font-size: 13px;
   
}

.watchlist-btn:hover{
    color: #fff;
    background: rgba(255,255,55,0.1);

}

.pre-btn, .nxt-btn{
    position: absolute;
    /* background:linear-gradient(to right,#0F1014 15%,transparent,transparent); */
    top:0;
    width:5%;
    height:100%;
    color:white;
    z-index:2;
    border:none;
    cursor: pointer;
    outline:none;
}

.pre-btn{
    left:0;
    /* background:linear-gradient(to right,#0F1014 15%,transparent,transparent); */
    background: linear-gradient(to right, #0c111b 0%, #0c111b00);  
}

.nxt-btn{
    right:0;
    background: linear-gradient(to left, #0c111b 0%, #0c111b00);

}

.pre-btn i, .nxt-btn i{
    width:20px;
    height:25px;
    opacity :0;
}

 .pre-btn:hover i, .nxt-btn:hover i{
    opacity: 1;
} 



.sports{
    width: 100%;
    padding : 10px 0px 10px 10px;
    background-color: #0F1014;
    color: white;
    position: relative;
    overflow: hidden; 
}

.sport{
    width: 290px;
    max-height: 270px;
    /* background-color: blue; */
    border-radius: 10px;
    cursor: pointer;
    transition: .3s;
    
}

.sport:hover{
    background-color: #424041 ;
    transform: scale(1.03);
    z-index: 10;
}

.sport-img{
    width: 100%;
    height: 189px;
    /* background-color: darkgreen; */
    border-radius: 8px;
    position: relative;
    overflow: hidden;
    
}

.sport-img img{
    width :100%;
    height : 100%;
    position: absolute;
    overflow: hidden;
}

.sport-img i{
    position: absolute;
    bottom:5px;
    left:5px;
    font-size: 18px;
}

.sports-title{
    font-size: 17px;
    font-weight: 500;
    margin-top: 5px;
    padding:0px 10px;
    
}
.sports-description{
       font-size: 14px;
       font-weight: 400;
       margin-top: 5px;
       padding-left: 12px; 
       padding-bottom: 5px; 
       opacity: 0;
       transition: .3s; 
     font-weight: 200;
     word-spacing: 2px;
}

.sport:hover .sports-description{
    opacity: .7;

}

.video-card-container{
   
     position: relative;
     width:100%;    
     height:20vh;
     display:flex;
     /* margin-bottom:30px; */
     padding:10px;
     background: #0F1014;
     column-gap: 20px;

   
}

.video-card{
    position: relative; 
    width:14%;
    height: 100%;
    border-radius: 5px;
    overflow: hidden;
    background:#0F1014;
}

 .video-card img, .card-video{
    width :100%;
    height :100%;
    object-fit: cover;
}

.card-video{
    position:absolute;
    transition: .1s;
}

.video-card:hover .video-card-img{
    text-decoration: none;
    opacity: .8;
    display: none;
}  

/* footer */

/* .container{
    max-width:1170px;
    background-color: brown;
    
}

.row{
    display:flex;
    flex-wrap:wrap;
}

ul{
    list-style: none;
}

.footer{
    background-color:#0F1014;
    padding: 20px 30px;

}

.footer-col{
    width:25%;
    padding:0 15px;
}

.footer-col h4{
    font-size: 18px;
    color: white;
    font-family: inter;
    text-transform: capitalize;
    margin-bottom: 30px;
    font-weight: 500;
    position: relative;
}

.footer-col ul li:not(:last-child){
    margin-bottom: 10px;
}

.footer-col ul li a{
    font-family: inter;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    color: #bbbbbb;
    font-weight: 300;
    display:block;
}

.check{
    display: flex;
    column-gap: 10px;
}

.check a{
    font-family: inter;
    font-size: 15px;
    text-transform: capitalize;
    text-decoration: none;
    color: #bbbbbb;
    font-weight: 300;
    display:block;
}

.check i{
    color:#FFF;
    font-size: 20px;
    
}

.footer-col .social-links a{
    display:inline-block;
    height: 40px;
    width: 40px;
    background-color:#0F1014;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 30px;
    border-radius: 50px;
    color: #fff;
}

.copyright h5{
    margin-top: 30px;
    padding-left:15px ;
    color: #bbbbbb;
    font-family: inter;
    font-size: 13px;
}

.conditions{
    display:flex;
}

.copyright .conditions a{
    margin-top: 10px;
    padding-left:15px ;
    font-family: inter;
    font-size: 12px;
    text-transform: capitalize;
    text-decoration: none;
    color:#bbbbbb ;
    font-weight: 300;
    display:block;
}

.apps{
    margin-top: 20px;
    padding-left: 650px;
} */